@media screen and (max-width: 767px) {
  main {
    width: 480px;
    margin: auto;
  }
  #a {
    width: 480px;
    height: 75px;
    background-color: rgb(200, 255, 0);
  }

  #b {
    width: 480px;
    height: 150px;
    background-color: rgb(231, 131, 7);
  }

  #c,
  #d {
    width: 480px;
    height: 125px;
  }
  #c{
    background-color: rgb(0, 128, 28);
 
  }
  #d{
    background-color: rgb(161, 13, 45);
  }
  #e{
    background-color: rgb(117, 2, 56);
  }
  #f{
    background-color: rgb(104, 240, 127);
  }

  #g{
    background-color: rgb(241, 170, 36);
  }

  #h{
    background-color: rgb(30, 176, 212);
  }
  .efgh {
    width: 240px;
    height: 250px;
  }

  #i {
    width: 480px;
    height: 80px;
    background-color: rgb(138, 43, 226);
  }
}

